@mixin light_properties {
  // fonts
  --font-head: 'Noto Sans', sans-serif;
  --font-body: 'Roboto', sans-serif;
  // sizes
  --size-font: 16px;
  --size-radius: 3px;
  --size-border: 1px;
  // colors
  --color-primary: #3880ff;
  --color-secondary: #3dc2ff;
  --color-success: #2dd36f;
  --color-light: #f4f5f8;
  --color-dark: #222428;
  --color-background: var(--color-light);
  --color-foreground: var(--color-dark);
  // images
  --image-featured: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNkYAAAAAYAAjCB0C8AAAAASUVORK5CYII=');
}
